<div style="padding: 5px 5px 50px 5px;">
    <img src="image/image.png" style="width: 30%; float: right;">
</div>

<div style="text-align: center; inter-word;"> 
    <h1 style="font-size: 60px;color:#4480C4"> Artificial Neural Network</h1> 
</div>

<div> 
    <h2 style="font-size: 20px;color:#ffce00; padding: 0px 0px 15px 0px; text-align: center">Big Data Analyst International Certification</h2> 
</div>

<div style="text-align: justify; text-justify: inter-word;"> 
    <b>Overview:</b>
</div>

<h3 style="font-size:25px;color:#4480C4">Artificial Neural Network</h3>

In [3]:
# Import Library
import pandas as pd

# Import Data .csv
df_csv = pd.read_csv('dataset/churn_new.csv', sep=',',)
column_names = df_csv.columns.tolist()

# Show 10 first Row
df_csv.head()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,1,2,2985,2985.0,0
1,1,1,0,0,0,34,1,0,0,2,...,2,0,0,0,1,0,3,5695,18895.0,0
2,2,1,0,0,0,2,1,0,0,2,...,0,0,0,0,0,1,3,5385,10815.0,1
3,3,1,0,0,0,45,0,1,0,2,...,2,2,0,0,1,0,0,423,184075.0,0
4,4,0,0,0,0,2,1,0,1,0,...,0,0,0,0,0,1,2,707,15165.0,1

In [4]:
# Remove "Unnamed:O" Coloumn
df = df_csv.drop("Unnamed: 0", axis=1)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,2985,2985.0,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,5695,18895.0,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,5385,10815.0,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,423,184075.0,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,707,15165.0,1

In [5]:
# Check the Data Infomation
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
gender              7043 non-null int64
SeniorCitizen       7043 non-null int64
Partner             7043 non-null int64
Dependents          7043 non-null int64
tenure              7043 non-null int64
PhoneService        7043 non-null int64
MultipleLines       7043 non-null int64
InternetService     7043 non-null int64
OnlineSecurity      7043 non-null int64
OnlineBackup        7043 non-null int64
DeviceProtection    7043 non-null int64
TechSupport         7043 non-null int64
StreamingTV         7043 non-null int64
StreamingMovies     7043 non-null int64
Contract            7043 non-null int64
PaperlessBilling    7043 non-null int64
PaymentMethod       7043 non-null int64
MonthlyCharges      7043 non-null int64
TotalCharges        7043 non-null float64
Churn               7043 non-null int64
dtypes: float64(1), int64(19)
memory usage: 1.1 MB

In [6]:
# Selecting the Feature, by remove the unused feature 
feature = ['Churn']
train_feature = df.drop(feature, axis=1)

# Set The Target
train_target = df["Churn"]

In [7]:
# Show the Feature
train_feature.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,2985,2985.0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,5695,18895.0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,5385,10815.0
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,423,184075.0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,707,15165.0

In [40]:
# Split Data
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(train_feature ,train_target, shuffle = True, test_size=0.3, random_state=1)

In [41]:
# Show the training data
X_train.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
5925,1,0,0,0,20,1,2,0,0,2,0,2,2,0,1,1,2,687,14162.0
4395,0,0,1,1,69,1,2,1,0,2,2,0,2,2,0,1,2,10395,74469.0
1579,1,1,1,0,12,1,0,1,0,0,0,0,0,2,0,1,2,8045,9502.0
1040,1,1,0,0,14,1,0,1,0,0,0,0,2,2,0,0,1,9045,12661.0
1074,1,0,0,0,1,1,0,2,1,1,1,1,1,1,0,0,3,211,211.0

In [45]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(13,13,13),max_iter=1000)
mlp.fit(X_train,y_train)

y_predmlp = mlp.predict(X_test)

In [46]:
# Import the metrics class
from sklearn import metrics

cnf_matrixmlp = metrics.confusion_matrix(y_test, y_predmlp)
cnf_matrixmlp

array([[1499,   86],
       [ 417,  111]], dtype=int64)

In [47]:
# Show the Accuracy, Precision, Recall
acc_mlp = metrics.accuracy_score(y_test, y_predmlp)
prec_mlp = metrics.precision_score(y_test, y_predmlp)
rec_mlp = metrics.recall_score(y_test, y_predmlp)

print("Accuracy:", acc_mlp)
print("Precision:", prec_mlp)
print("Recall:", rec_mlp)

Accuracy: 0.7619498343587316
Precision: 0.5634517766497462
Recall: 0.21022727272727273